{% import "macros/projects.html" as project_macros %}
{% import "macros/elements.html" as element_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
{% set image = "https://og.cameron.rs/api/home?title=projects" %}
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    {% block data %}
        <title>{{ config.title }}</title>
        <meta property="og:title" content="{{ config.title }}"/>
        <meta name="twitter:title" content="{{ config.title }}" />
        <meta property="og:image" content={{ image }} />
        <meta name="twitter:image" content={{ image }} />
    {% endblock data %}

    {% block description %}
        <meta name="description" content="{{ config.description }}"/>
        <meta property="og:description" content="{{ config.description }}"/>
        <meta name="twitter:description" content="{{ config.description }}" />
    {% endblock description %}

    <meta name="author" content="Cameron"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cameron.rs" />
    <meta property="og:site_name" content="cameron.rs" />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"
    />

    {# Tailwind CSS #}
    <link rel="stylesheet" type="text/css" href="/style.css">

    {% block extra_head %}
    {% endblock extra_head %}
    <script
      src="https://kit.fontawesome.com/6029373499.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  <div class="flex flex-col items-center h-full">
    {{ element_macros::navbar() }}
    <main class="pt-8 w-11/12 lg:w-3/4 mb-12 md:mb-[6rem]" id="main" tabindex="-1">
      <div class="flex flex-col border-t border-accent pt-5">
        {% for project in config.extra.projects %}
          {{ project_macros::project_listing(project=project) }}
        {% endfor %}
      </div>
    </main>
    
    {{ element_macros::footer() }}
  </div>
</body>
</html>
